# Flask Configuration
SECRET_KEY=db31fcaaea91647c53f1b4416ab96160

# Database (Render/Railway will provide DATABASE_URL)
# DATABASE_URL=postgresql://username:password@localhost/saps_edocket

CLOUDINARY_CLOUD_NAME=daqtl2j55
CLOUDINARY_API_KEY=589994846756881
CLOUDINARY_API_SECRET=nISzz5RVezDz9pBRUkzS1blrW8c
FLASK_ENV=development